<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width-device-width,intial-scale=1.0">
  <title>Web Devloper</title>
  <script type="text/javascript" src="app.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

  <link rel="stylesheet" type="text/css" href="../public/css/style.css">
  <link href="https://fonts.googleapis.com/css?family=Antic" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Libre+Baskerville" rel="stylesheet">
  <link rel="stylesheet" href="fontawesome-free-5.1.0-web/css/all.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
    integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

</head>

<body>


  <nav class="navbar-fixed">

    <div class="nav-container">

      <div class="nav-list">
        <ul>
          <li><a href="#index.html"> <i class="fas fa-home"></i><b>Home</b> </a></li>
          <li><a href="#about"><i class="fas fa-user-alt"></i><b>About</b></a></li>
          <li><a href="#"><i class="fas fa-laptop"></i> <b>Work</b></a></li>
          <li><a href="#resume"><i class="fas fa-book"></i><b>Resume</b></a></li>
          <li><a href="#"><i class="far fa-envelope"></i> <b>Contact</b></a></li>

        </ul>

        <ul class="icons">
          <li><a href=""><i class="fab fa-linkedin-in"></i></a></li>
          <li><a href=""><i class="fab fa-google"></a></i></li>

        </ul>


  </nav>
  </div>

  </div>

  <header class="v-header container">
    <div class="fullscreen-video-wrap">
      <video src="img/MVI_5668.mp4" autoplay="true" loop="true"></video></div>
    <div class="header-overlay"></div>


    <svg id="logo" width="600" height="589" viewBox="0 0 1134 589" fill="none" xmlns="http://www.w3.org/2000/svg">
      <mask id="path-1-outside-1" maskUnits="userSpaceOnUse" x="0.312012" y="0.440002" width="1134" height="588"
        fill="black">
        <rect fill="white" x="0.312012" y="0.440002" width="1134" height="588" />
        <path
          d="M142.232 12.632L113.144 113H98.456L75.128 32.216L51.08 113L36.392 113.144L8.31201 12.632H22.28L44.168 97.592L68.36 12.632H83.192L106.088 97.448L128.12 12.632H142.232Z" />
        <path
          d="M228.572 70.232C228.572 72.632 228.428 75.224 228.14 78.008H165.068C165.452 85.784 168.044 91.928 172.844 96.44C177.74 100.952 183.692 103.208 190.7 103.208C196.364 103.208 201.068 101.912 204.812 99.32C208.652 96.632 211.34 93.08 212.876 88.664H226.988C224.876 96.248 220.652 102.44 214.316 107.24C207.98 111.944 200.108 114.296 190.7 114.296C183.212 114.296 176.492 112.616 170.54 109.256C164.684 105.896 160.076 101.144 156.716 95C153.356 88.76 151.676 81.56 151.676 73.4C151.676 65.24 153.308 58.088 156.572 51.944C159.836 45.8 164.396 41.096 170.252 37.832C176.204 34.472 183.02 32.792 190.7 32.792C198.188 32.792 204.764 34.424 210.428 37.688C216.188 40.952 220.652 45.416 223.82 51.08C226.988 56.744 228.572 63.128 228.572 70.232ZM215.036 68.504C215.036 63.32 213.932 58.904 211.724 55.256C209.516 51.512 206.492 48.68 202.652 46.76C198.908 44.84 194.732 43.88 190.124 43.88C183.404 43.88 177.692 46.088 172.988 50.504C168.284 54.824 165.692 60.824 165.212 68.504H215.036Z" />
        <path d="M258.973 6.44V113H245.869V6.44H258.973Z" />
        <path
          d="M276.411 73.4C276.411 65.24 278.043 58.136 281.307 52.088C284.571 45.944 289.083 41.192 294.843 37.832C300.699 34.472 307.371 32.792 314.859 32.792C324.555 32.792 332.523 35.144 338.763 39.848C345.099 44.552 349.275 51.08 351.291 59.432H337.179C335.835 54.632 333.195 50.84 329.259 48.056C325.419 45.272 320.619 43.88 314.859 43.88C307.371 43.88 301.323 46.472 296.715 51.656C292.107 56.744 289.803 63.992 289.803 73.4C289.803 82.904 292.107 90.248 296.715 95.432C301.323 100.616 307.371 103.208 314.859 103.208C320.619 103.208 325.419 101.864 329.259 99.176C333.099 96.488 335.739 92.648 337.179 87.656H351.291C349.179 95.72 344.955 102.2 338.619 107.096C332.283 111.896 324.363 114.296 314.859 114.296C307.371 114.296 300.699 112.616 294.843 109.256C289.083 105.896 284.571 101.144 281.307 95C278.043 88.856 276.411 81.656 276.411 73.4Z" />
        <path
          d="M403.191 114.296C395.799 114.296 389.079 112.616 383.031 109.256C377.079 105.896 372.375 101.144 368.919 95C365.559 88.76 363.879 81.56 363.879 73.4C363.879 65.336 365.608 58.232 369.064 52.088C372.616 45.848 377.416 41.096 383.464 37.832C389.512 34.472 396.28 32.792 403.768 32.792C411.256 32.792 418.024 34.472 424.072 37.832C430.12 41.096 434.872 45.8 438.328 51.944C441.88 58.088 443.655 65.24 443.655 73.4C443.655 81.56 441.832 88.76 438.184 95C434.632 101.144 429.783 105.896 423.639 109.256C417.495 112.616 410.679 114.296 403.191 114.296ZM403.191 103.208C407.895 103.208 412.312 102.104 416.44 99.896C420.568 97.592 423.88 94.184 426.376 89.672C428.968 85.16 430.263 79.736 430.263 73.4C430.263 67.064 429.016 61.688 426.52 57.272C424.024 52.76 420.76 49.4 416.728 47.192C412.696 44.984 408.328 43.88 403.624 43.88C398.824 43.88 394.407 44.984 390.375 47.192C386.439 49.4 383.271 52.76 380.871 57.272C378.471 61.688 377.272 67.064 377.272 73.4C377.272 79.832 378.424 85.304 380.728 89.816C383.128 94.232 386.296 97.592 390.232 99.896C394.168 102.104 398.487 103.208 403.191 103.208Z" />
        <path
          d="M555.781 32.648C561.925 32.648 567.397 33.944 572.197 36.536C576.997 39.032 580.789 42.824 583.573 47.912C586.357 53 587.749 59.192 587.749 66.488V113H574.789V68.36C574.789 60.488 572.821 54.488 568.885 50.36C565.045 46.136 559.813 44.024 553.189 44.024C546.373 44.024 540.949 46.232 536.917 50.648C532.885 54.968 530.869 61.256 530.869 69.512V113H517.909V68.36C517.909 60.488 515.941 54.488 512.005 50.36C508.165 46.136 502.933 44.024 496.309 44.024C489.493 44.024 484.069 46.232 480.037 50.648C476.005 54.968 473.989 61.256 473.989 69.512V113H460.885V34.088H473.989V45.464C476.581 41.336 480.037 38.168 484.357 35.96C488.773 33.752 493.621 32.648 498.901 32.648C505.525 32.648 511.381 34.136 516.469 37.112C521.557 40.088 525.349 44.456 527.845 50.216C530.053 44.648 533.701 40.328 538.789 37.256C543.877 34.184 549.541 32.648 555.781 32.648Z" />
        <path
          d="M681.244 70.232C681.244 72.632 681.1 75.224 680.812 78.008H617.74C618.124 85.784 620.716 91.928 625.516 96.44C630.412 100.952 636.364 103.208 643.372 103.208C649.036 103.208 653.74 101.912 657.484 99.32C661.324 96.632 664.012 93.08 665.548 88.664H679.66C677.548 96.248 673.324 102.44 666.988 107.24C660.652 111.944 652.78 114.296 643.372 114.296C635.884 114.296 629.164 112.616 623.212 109.256C617.356 105.896 612.748 101.144 609.388 95C606.028 88.76 604.348 81.56 604.348 73.4C604.348 65.24 605.98 58.088 609.244 51.944C612.508 45.8 617.068 41.096 622.924 37.832C628.876 34.472 635.692 32.792 643.372 32.792C650.86 32.792 657.436 34.424 663.1 37.688C668.86 40.952 673.324 45.416 676.492 51.08C679.66 56.744 681.244 63.128 681.244 70.232ZM667.708 68.504C667.708 63.32 666.604 58.904 664.396 55.256C662.188 51.512 659.164 48.68 655.324 46.76C651.58 44.84 647.404 43.88 642.796 43.88C636.076 43.88 630.364 46.088 625.66 50.504C620.956 54.824 618.364 60.824 617.884 68.504H667.708Z" />
        <path d="M712.077 94.856L695.949 133.592H687.165L697.677 94.856H712.077Z" />
        <path d="M783.083 12.632V113H769.979V12.632H783.083Z" />
        <path d="M807.432 12.632H821.976L808.152 45.32H798.936L807.432 12.632Z" />
        <path
          d="M931.812 32.648C937.956 32.648 943.428 33.944 948.228 36.536C953.028 39.032 956.82 42.824 959.604 47.912C962.388 53 963.78 59.192 963.78 66.488V113H950.82V68.36C950.82 60.488 948.852 54.488 944.916 50.36C941.076 46.136 935.844 44.024 929.22 44.024C922.404 44.024 916.98 46.232 912.948 50.648C908.916 54.968 906.9 61.256 906.9 69.512V113H893.94V68.36C893.94 60.488 891.972 54.488 888.036 50.36C884.196 46.136 878.964 44.024 872.34 44.024C865.524 44.024 860.1 46.232 856.068 50.648C852.036 54.968 850.02 61.256 850.02 69.512V113H836.916V34.088H850.02V45.464C852.612 41.336 856.068 38.168 860.388 35.96C864.804 33.752 869.652 32.648 874.932 32.648C881.556 32.648 887.412 34.136 892.5 37.112C897.588 40.088 901.38 44.456 903.876 50.216C906.084 44.648 909.732 40.328 914.82 37.256C919.908 34.184 925.572 32.648 931.812 32.648Z" />
        <path
          d="M29.192 238.856V273.272H65.768V283.352H29.192V318.632H70.088V329H16.088V228.488H70.088V238.856H29.192Z" />
        <path
          d="M103.02 265.064C105.324 259.88 108.588 255.848 112.812 252.968C117.132 250.088 122.364 248.648 128.508 248.648V262.184H125.052C110.364 262.184 103.02 270.152 103.02 286.088V329H89.9161V250.088H103.02V265.064Z" />
        <path
          d="M150.403 237.272C147.907 237.272 145.795 236.408 144.067 234.68C142.339 232.952 141.475 230.84 141.475 228.344C141.475 225.848 142.339 223.736 144.067 222.008C145.795 220.28 147.907 219.416 150.403 219.416C152.803 219.416 154.819 220.28 156.451 222.008C158.179 223.736 159.043 225.848 159.043 228.344C159.043 230.84 158.179 232.952 156.451 234.68C154.819 236.408 152.803 237.272 150.403 237.272ZM156.739 250.088V329H143.635V250.088H156.739Z" />
        <path
          d="M174.176 289.4C174.176 281.24 175.808 274.136 179.072 268.088C182.336 261.944 186.848 257.192 192.608 253.832C198.464 250.472 205.136 248.792 212.624 248.792C222.32 248.792 230.288 251.144 236.528 255.848C242.864 260.552 247.04 267.08 249.056 275.432H234.944C233.6 270.632 230.96 266.84 227.024 264.056C223.184 261.272 218.384 259.88 212.624 259.88C205.136 259.88 199.088 262.472 194.48 267.656C189.872 272.744 187.568 279.992 187.568 289.4C187.568 298.904 189.872 306.248 194.48 311.432C199.088 316.616 205.136 319.208 212.624 319.208C218.384 319.208 223.184 317.864 227.024 315.176C230.864 312.488 233.504 308.648 234.944 303.656H249.056C246.944 311.72 242.72 318.2 236.384 323.096C230.048 327.896 222.128 330.296 212.624 330.296C205.136 330.296 198.464 328.616 192.608 325.256C186.848 321.896 182.336 317.144 179.072 311C175.808 304.856 174.176 297.656 174.176 289.4Z" />
        <path
          d="M304.536 289.256C304.536 281.192 306.168 274.136 309.432 268.088C312.696 261.944 317.16 257.192 322.824 253.832C328.584 250.472 334.968 248.792 341.976 248.792C348.888 248.792 354.888 250.28 359.976 253.256C365.064 256.232 368.856 259.976 371.352 264.488V250.088H384.6V329H371.352V314.312C368.76 318.92 364.872 322.76 359.688 325.832C354.6 328.808 348.648 330.296 341.832 330.296C334.824 330.296 328.488 328.568 322.824 325.112C317.16 321.656 312.696 316.808 309.432 310.568C306.168 304.328 304.536 297.224 304.536 289.256ZM371.352 289.4C371.352 283.448 370.152 278.264 367.752 273.848C365.352 269.432 362.088 266.072 357.96 263.768C353.928 261.368 349.464 260.168 344.568 260.168C339.672 260.168 335.208 261.32 331.176 263.624C327.144 265.928 323.928 269.288 321.528 273.704C319.128 278.12 317.928 283.304 317.928 289.256C317.928 295.304 319.128 300.584 321.528 305.096C323.928 309.512 327.144 312.92 331.176 315.32C335.208 317.624 339.672 318.776 344.568 318.776C349.464 318.776 353.928 317.624 357.96 315.32C362.088 312.92 365.352 309.512 367.752 305.096C370.152 300.584 371.352 295.352 371.352 289.4Z" />
        <path d="M549.261 228.632V238.856H505.63V273.272H541.054V283.496H505.63V329H492.526V228.632H549.261Z" />
        <path
          d="M635.072 250.088V329H621.968V317.336C619.472 321.368 615.968 324.536 611.456 326.84C607.04 329.048 602.144 330.152 596.768 330.152C590.624 330.152 585.104 328.904 580.208 326.408C575.312 323.816 571.424 319.976 568.544 314.888C565.76 309.8 564.368 303.608 564.368 296.312V250.088H577.328V294.584C577.328 302.36 579.296 308.36 583.232 312.584C587.168 316.712 592.544 318.776 599.36 318.776C606.368 318.776 611.888 316.616 615.92 312.296C619.952 307.976 621.968 301.688 621.968 293.432V250.088H635.072Z" />
        <path d="M670.301 222.44V329H657.197V222.44H670.301Z" />
        <path d="M705.739 222.44V329H692.635V222.44H705.739Z" />
        <path
          d="M759.896 330.008C753.272 330.008 747.32 328.856 742.04 326.552C736.856 324.152 732.776 320.888 729.8 316.76C726.824 312.536 725.288 307.688 725.192 302.216H739.16C739.64 307.016 741.608 311.096 745.064 314.456C748.52 317.72 753.464 319.352 759.896 319.352C766.04 319.352 770.936 317.768 774.584 314.6C778.232 311.336 780.056 307.208 780.056 302.216C780.056 298.376 779 295.256 776.888 292.856C774.776 290.456 772.136 288.632 768.968 287.384C765.8 286.136 761.528 284.792 756.152 283.352C749.528 281.624 744.2 279.896 740.168 278.168C736.232 276.44 732.824 273.752 729.944 270.104C727.16 266.36 725.768 261.368 725.768 255.128C725.768 249.656 727.16 244.808 729.944 240.584C732.728 236.36 736.616 233.096 741.608 230.792C746.696 228.488 752.504 227.336 759.032 227.336C768.44 227.336 776.12 229.688 782.072 234.392C788.12 239.096 791.528 245.336 792.296 253.112H777.896C777.416 248.984 775.4 245.48 771.848 242.6C768.392 239.624 763.688 238.136 757.736 238.136C752.264 238.136 747.8 239.576 744.344 242.456C740.888 245.336 739.16 249.416 739.16 254.696C739.16 258.344 740.168 261.32 742.184 263.624C744.296 265.928 746.84 267.704 749.816 268.952C752.888 270.104 757.16 271.448 762.632 272.984C769.256 274.808 774.584 276.632 778.616 278.456C782.648 280.184 786.104 282.92 788.984 286.664C791.864 290.312 793.304 295.304 793.304 301.64C793.304 306.536 792.008 311.144 789.416 315.464C786.824 319.784 782.984 323.288 777.896 325.976C772.808 328.664 766.808 330.008 759.896 330.008Z" />
        <path
          d="M828.572 260.888V307.4C828.572 311.24 829.388 313.976 831.02 315.608C832.652 317.144 835.484 317.912 839.516 317.912H849.164V329H837.356C830.06 329 824.588 327.32 820.94 323.96C817.292 320.6 815.468 315.08 815.468 307.4V260.888H805.244V250.088H815.468V230.216H828.572V250.088H849.164V260.888H828.572Z" />
        <path
          d="M860.145 289.256C860.145 281.192 861.777 274.136 865.041 268.088C868.305 261.944 872.769 257.192 878.433 253.832C884.193 250.472 890.577 248.792 897.585 248.792C904.497 248.792 910.497 250.28 915.585 253.256C920.673 256.232 924.465 259.976 926.961 264.488V250.088H940.209V329H926.961V314.312C924.369 318.92 920.481 322.76 915.297 325.832C910.209 328.808 904.257 330.296 897.441 330.296C890.433 330.296 884.097 328.568 878.433 325.112C872.769 321.656 868.305 316.808 865.041 310.568C861.777 304.328 860.145 297.224 860.145 289.256ZM926.961 289.4C926.961 283.448 925.761 278.264 923.361 273.848C920.961 269.432 917.697 266.072 913.569 263.768C909.537 261.368 905.073 260.168 900.177 260.168C895.281 260.168 890.817 261.32 886.785 263.624C882.753 265.928 879.537 269.288 877.137 273.704C874.737 278.12 873.537 283.304 873.537 289.256C873.537 295.304 874.737 300.584 877.137 305.096C879.537 309.512 882.753 312.92 886.785 315.32C890.817 317.624 895.281 318.776 900.177 318.776C905.073 318.776 909.537 317.624 913.569 315.32C917.697 312.92 920.961 309.512 923.361 305.096C925.761 300.584 926.961 295.352 926.961 289.4Z" />
        <path
          d="M957.458 289.4C957.458 281.24 959.09 274.136 962.354 268.088C965.618 261.944 970.13 257.192 975.89 253.832C981.746 250.472 988.418 248.792 995.906 248.792C1005.6 248.792 1013.57 251.144 1019.81 255.848C1026.15 260.552 1030.32 267.08 1032.34 275.432H1018.23C1016.88 270.632 1014.24 266.84 1010.31 264.056C1006.47 261.272 1001.67 259.88 995.906 259.88C988.418 259.88 982.37 262.472 977.762 267.656C973.154 272.744 970.85 279.992 970.85 289.4C970.85 298.904 973.154 306.248 977.762 311.432C982.37 316.616 988.418 319.208 995.906 319.208C1001.67 319.208 1006.47 317.864 1010.31 315.176C1014.15 312.488 1016.79 308.648 1018.23 303.656H1032.34C1030.23 311.72 1026 318.2 1019.67 323.096C1013.33 327.896 1005.41 330.296 995.906 330.296C988.418 330.296 981.746 328.616 975.89 325.256C970.13 321.896 965.618 317.144 962.354 311C959.09 304.856 957.458 297.656 957.458 289.4Z" />
        <path
          d="M1093.89 329L1062.93 294.152V329H1049.82V222.44H1062.93V285.08L1093.31 250.088H1111.6L1074.45 289.4L1111.74 329H1093.89Z" />
        <path
          d="M142.232 444.632L113.144 545H98.456L75.128 464.216L51.08 545L36.392 545.144L8.31201 444.632H22.28L44.168 529.592L68.36 444.632H83.192L106.088 529.448L128.12 444.632H142.232Z" />
        <path
          d="M228.572 502.232C228.572 504.632 228.428 507.224 228.14 510.008H165.068C165.452 517.784 168.044 523.928 172.844 528.44C177.74 532.952 183.692 535.208 190.7 535.208C196.364 535.208 201.068 533.912 204.812 531.32C208.652 528.632 211.34 525.08 212.876 520.664H226.988C224.876 528.248 220.652 534.44 214.316 539.24C207.98 543.944 200.108 546.296 190.7 546.296C183.212 546.296 176.492 544.616 170.54 541.256C164.684 537.896 160.076 533.144 156.716 527C153.356 520.76 151.676 513.56 151.676 505.4C151.676 497.24 153.308 490.088 156.572 483.944C159.836 477.8 164.396 473.096 170.252 469.832C176.204 466.472 183.02 464.792 190.7 464.792C198.188 464.792 204.764 466.424 210.428 469.688C216.188 472.952 220.652 477.416 223.82 483.08C226.988 488.744 228.572 495.128 228.572 502.232ZM215.036 500.504C215.036 495.32 213.932 490.904 211.724 487.256C209.516 483.512 206.492 480.68 202.652 478.76C198.908 476.84 194.732 475.88 190.124 475.88C183.404 475.88 177.692 478.088 172.988 482.504C168.284 486.824 165.692 492.824 165.212 500.504H215.036Z" />
        <path
          d="M258.973 480.776C261.661 476.072 265.597 472.232 270.781 469.256C275.965 466.28 281.869 464.792 288.493 464.792C295.597 464.792 301.981 466.472 307.645 469.832C313.309 473.192 317.773 477.944 321.037 484.088C324.301 490.136 325.933 497.192 325.933 505.256C325.933 513.224 324.301 520.328 321.037 526.568C317.773 532.808 313.261 537.656 307.501 541.112C301.837 544.568 295.501 546.296 288.493 546.296C281.677 546.296 275.677 544.808 270.493 541.832C265.405 538.856 261.565 535.064 258.973 530.456V545H245.869V438.44H258.973V480.776ZM312.541 505.256C312.541 499.304 311.341 494.12 308.941 489.704C306.541 485.288 303.277 481.928 299.149 479.624C295.117 477.32 290.653 476.168 285.757 476.168C280.957 476.168 276.493 477.368 272.365 479.768C268.333 482.072 265.069 485.48 262.573 489.992C260.173 494.408 258.973 499.544 258.973 505.4C258.973 511.352 260.173 516.584 262.573 521.096C265.069 525.512 268.333 528.92 272.365 531.32C276.493 533.624 280.957 534.776 285.757 534.776C290.653 534.776 295.117 533.624 299.149 531.32C303.277 528.92 306.541 525.512 308.941 521.096C311.341 516.584 312.541 511.304 312.541 505.256Z" />
        <path
          d="M417.32 444.632C428.264 444.632 437.72 446.696 445.688 450.824C453.752 454.856 459.896 460.664 464.12 468.248C468.44 475.832 470.6 484.76 470.6 495.032C470.6 505.304 468.44 514.232 464.12 521.816C459.896 529.304 453.752 535.064 445.688 539.096C437.72 543.032 428.264 545 417.32 545H386.072V444.632H417.32ZM417.32 534.92C430.184 534.92 440.024 531.416 446.84 524.408C453.752 517.304 457.208 507.512 457.208 495.032C457.208 482.552 453.752 472.808 446.84 465.8C440.024 458.792 430.184 455.288 417.32 455.288H399.176V534.92H417.32Z" />
        <path
          d="M559.885 502.232C559.885 504.632 559.741 507.224 559.453 510.008H496.381C496.765 517.784 499.357 523.928 504.157 528.44C509.053 532.952 515.005 535.208 522.013 535.208C527.677 535.208 532.381 533.912 536.125 531.32C539.965 528.632 542.653 525.08 544.189 520.664H558.301C556.189 528.248 551.965 534.44 545.629 539.24C539.293 543.944 531.421 546.296 522.013 546.296C514.525 546.296 507.805 544.616 501.853 541.256C495.997 537.896 491.389 533.144 488.029 527C484.669 520.76 482.989 513.56 482.989 505.4C482.989 497.24 484.621 490.088 487.885 483.944C491.149 477.8 495.709 473.096 501.565 469.832C507.517 466.472 514.333 464.792 522.013 464.792C529.501 464.792 536.077 466.424 541.741 469.688C547.501 472.952 551.965 477.416 555.133 483.08C558.301 488.744 559.885 495.128 559.885 502.232ZM546.349 500.504C546.349 495.32 545.245 490.904 543.037 487.256C540.829 483.512 537.805 480.68 533.965 478.76C530.221 476.84 526.045 475.88 521.437 475.88C514.717 475.88 509.005 478.088 504.301 482.504C499.597 486.824 497.005 492.824 496.525 500.504H546.349Z" />
        <path d="M606.558 532.616L631.038 466.088H645.15L614.19 545H598.782L567.822 466.088H581.934L606.558 532.616Z" />
        <path
          d="M729.901 502.232C729.901 504.632 729.757 507.224 729.469 510.008H666.396C666.78 517.784 669.372 523.928 674.172 528.44C679.068 532.952 685.021 535.208 692.029 535.208C697.693 535.208 702.397 533.912 706.141 531.32C709.981 528.632 712.669 525.08 714.205 520.664H728.317C726.205 528.248 721.981 534.44 715.645 539.24C709.309 543.944 701.437 546.296 692.029 546.296C684.541 546.296 677.821 544.616 671.869 541.256C666.013 537.896 661.404 533.144 658.044 527C654.684 520.76 653.005 513.56 653.005 505.4C653.005 497.24 654.637 490.088 657.901 483.944C661.165 477.8 665.725 473.096 671.581 469.832C677.533 466.472 684.349 464.792 692.029 464.792C699.517 464.792 706.093 466.424 711.757 469.688C717.517 472.952 721.98 477.416 725.148 483.08C728.316 488.744 729.901 495.128 729.901 502.232ZM716.365 500.504C716.365 495.32 715.26 490.904 713.052 487.256C710.844 483.512 707.821 480.68 703.981 478.76C700.237 476.84 696.061 475.88 691.453 475.88C684.733 475.88 679.021 478.088 674.317 482.504C669.613 486.824 667.021 492.824 666.541 500.504H716.365Z" />
        <path d="M760.301 438.44V545H747.197V438.44H760.301Z" />
        <path
          d="M817.051 546.296C809.659 546.296 802.939 544.616 796.891 541.256C790.939 537.896 786.235 533.144 782.779 527C779.419 520.76 777.739 513.56 777.739 505.4C777.739 497.336 779.467 490.232 782.923 484.088C786.475 477.848 791.275 473.096 797.323 469.832C803.371 466.472 810.139 464.792 817.627 464.792C825.115 464.792 831.883 466.472 837.931 469.832C843.979 473.096 848.731 477.8 852.187 483.944C855.739 490.088 857.515 497.24 857.515 505.4C857.515 513.56 855.691 520.76 852.043 527C848.491 533.144 843.643 537.896 837.499 541.256C831.355 544.616 824.539 546.296 817.051 546.296ZM817.051 535.208C821.755 535.208 826.171 534.104 830.299 531.896C834.427 529.592 837.739 526.184 840.235 521.672C842.827 517.16 844.123 511.736 844.123 505.4C844.123 499.064 842.875 493.688 840.379 489.272C837.883 484.76 834.619 481.4 830.587 479.192C826.555 476.984 822.187 475.88 817.483 475.88C812.683 475.88 808.267 476.984 804.235 479.192C800.299 481.4 797.131 484.76 794.731 489.272C792.331 493.688 791.131 499.064 791.131 505.4C791.131 511.832 792.283 517.304 794.587 521.816C796.987 526.232 800.155 529.592 804.091 531.896C808.027 534.104 812.347 535.208 817.051 535.208Z" />
        <path
          d="M887.848 480.632C890.44 476.12 894.28 472.376 899.368 469.4C904.552 466.328 910.552 464.792 917.368 464.792C924.376 464.792 930.712 466.472 936.376 469.832C942.136 473.192 946.648 477.944 949.912 484.088C953.176 490.136 954.808 497.192 954.808 505.256C954.808 513.224 953.176 520.328 949.912 526.568C946.648 532.808 942.136 537.656 936.376 541.112C930.712 544.568 924.376 546.296 917.368 546.296C910.648 546.296 904.696 544.808 899.512 541.832C894.424 538.76 890.536 534.968 887.848 530.456V582.44H874.744V466.088H887.848V480.632ZM941.416 505.256C941.416 499.304 940.216 494.12 937.816 489.704C935.416 485.288 932.152 481.928 928.024 479.624C923.992 477.32 919.528 476.168 914.632 476.168C909.832 476.168 905.368 477.368 901.24 479.768C897.208 482.072 893.944 485.48 891.448 489.992C889.048 494.408 887.848 499.544 887.848 505.4C887.848 511.352 889.048 516.584 891.448 521.096C893.944 525.512 897.208 528.92 901.24 531.32C905.368 533.624 909.832 534.776 914.632 534.776C919.528 534.776 923.992 533.624 928.024 531.32C932.152 528.92 935.416 525.512 937.816 521.096C940.216 516.584 941.416 511.304 941.416 505.256Z" />
        <path
          d="M1044.06 502.232C1044.06 504.632 1043.91 507.224 1043.62 510.008H980.553C980.937 517.784 983.529 523.928 988.329 528.44C993.225 532.952 999.177 535.208 1006.18 535.208C1011.85 535.208 1016.55 533.912 1020.3 531.32C1024.14 528.632 1026.82 525.08 1028.36 520.664H1042.47C1040.36 528.248 1036.14 534.44 1029.8 539.24C1023.46 543.944 1015.59 546.296 1006.18 546.296C998.697 546.296 991.977 544.616 986.025 541.256C980.169 537.896 975.561 533.144 972.201 527C968.841 520.76 967.161 513.56 967.161 505.4C967.161 497.24 968.793 490.088 972.057 483.944C975.321 477.8 979.881 473.096 985.737 469.832C991.689 466.472 998.505 464.792 1006.18 464.792C1013.67 464.792 1020.25 466.424 1025.91 469.688C1031.67 472.952 1036.14 477.416 1039.3 483.08C1042.47 488.744 1044.06 495.128 1044.06 502.232ZM1030.52 500.504C1030.52 495.32 1029.42 490.904 1027.21 487.256C1025 483.512 1021.98 480.68 1018.14 478.76C1014.39 476.84 1010.22 475.88 1005.61 475.88C998.889 475.88 993.177 478.088 988.473 482.504C983.769 486.824 981.177 492.824 980.697 500.504H1030.52Z" />
        <path
          d="M1074.46 481.064C1076.76 475.88 1080.03 471.848 1084.25 468.968C1088.57 466.088 1093.8 464.648 1099.95 464.648V478.184H1096.49C1081.8 478.184 1074.46 486.152 1074.46 502.088V545H1061.35V466.088H1074.46V481.064Z" />
        <path
          d="M1119.25 545.864C1116.75 545.864 1114.64 545 1112.91 543.272C1111.18 541.544 1110.32 539.432 1110.32 536.936C1110.32 534.44 1111.18 532.328 1112.91 530.6C1114.64 528.872 1116.75 528.008 1119.25 528.008C1121.65 528.008 1123.66 528.872 1125.3 530.6C1127.02 532.328 1127.89 534.44 1127.89 536.936C1127.89 539.432 1127.02 541.544 1125.3 543.272C1123.66 545 1121.65 545.864 1119.25 545.864Z" />
      </mask>
      <path
        d="M142.232 12.632L113.144 113H98.456L75.128 32.216L51.08 113L36.392 113.144L8.31201 12.632H22.28L44.168 97.592L68.36 12.632H83.192L106.088 97.448L128.12 12.632H142.232Z"
        stroke="#FEFEFE" stroke-width="12" mask="url(#path-1-outside-1)" />
      <path
        d="M228.572 70.232C228.572 72.632 228.428 75.224 228.14 78.008H165.068C165.452 85.784 168.044 91.928 172.844 96.44C177.74 100.952 183.692 103.208 190.7 103.208C196.364 103.208 201.068 101.912 204.812 99.32C208.652 96.632 211.34 93.08 212.876 88.664H226.988C224.876 96.248 220.652 102.44 214.316 107.24C207.98 111.944 200.108 114.296 190.7 114.296C183.212 114.296 176.492 112.616 170.54 109.256C164.684 105.896 160.076 101.144 156.716 95C153.356 88.76 151.676 81.56 151.676 73.4C151.676 65.24 153.308 58.088 156.572 51.944C159.836 45.8 164.396 41.096 170.252 37.832C176.204 34.472 183.02 32.792 190.7 32.792C198.188 32.792 204.764 34.424 210.428 37.688C216.188 40.952 220.652 45.416 223.82 51.08C226.988 56.744 228.572 63.128 228.572 70.232ZM215.036 68.504C215.036 63.32 213.932 58.904 211.724 55.256C209.516 51.512 206.492 48.68 202.652 46.76C198.908 44.84 194.732 43.88 190.124 43.88C183.404 43.88 177.692 46.088 172.988 50.504C168.284 54.824 165.692 60.824 165.212 68.504H215.036Z"
        stroke="#FEFEFE" stroke-width="12" mask="url(#path-1-outside-1)" />
      <path d="M258.973 6.44V113H245.869V6.44H258.973Z" stroke="#FEFEFE" stroke-width="12"
        mask="url(#path-1-outside-1)" />
      <path
        d="M276.411 73.4C276.411 65.24 278.043 58.136 281.307 52.088C284.571 45.944 289.083 41.192 294.843 37.832C300.699 34.472 307.371 32.792 314.859 32.792C324.555 32.792 332.523 35.144 338.763 39.848C345.099 44.552 349.275 51.08 351.291 59.432H337.179C335.835 54.632 333.195 50.84 329.259 48.056C325.419 45.272 320.619 43.88 314.859 43.88C307.371 43.88 301.323 46.472 296.715 51.656C292.107 56.744 289.803 63.992 289.803 73.4C289.803 82.904 292.107 90.248 296.715 95.432C301.323 100.616 307.371 103.208 314.859 103.208C320.619 103.208 325.419 101.864 329.259 99.176C333.099 96.488 335.739 92.648 337.179 87.656H351.291C349.179 95.72 344.955 102.2 338.619 107.096C332.283 111.896 324.363 114.296 314.859 114.296C307.371 114.296 300.699 112.616 294.843 109.256C289.083 105.896 284.571 101.144 281.307 95C278.043 88.856 276.411 81.656 276.411 73.4Z"
        stroke="#FEFEFE" stroke-width="12" mask="url(#path-1-outside-1)" />
      <path
        d="M403.191 114.296C395.799 114.296 389.079 112.616 383.031 109.256C377.079 105.896 372.375 101.144 368.919 95C365.559 88.76 363.879 81.56 363.879 73.4C363.879 65.336 365.608 58.232 369.064 52.088C372.616 45.848 377.416 41.096 383.464 37.832C389.512 34.472 396.28 32.792 403.768 32.792C411.256 32.792 418.024 34.472 424.072 37.832C430.12 41.096 434.872 45.8 438.328 51.944C441.88 58.088 443.655 65.24 443.655 73.4C443.655 81.56 441.832 88.76 438.184 95C434.632 101.144 429.783 105.896 423.639 109.256C417.495 112.616 410.679 114.296 403.191 114.296ZM403.191 103.208C407.895 103.208 412.312 102.104 416.44 99.896C420.568 97.592 423.88 94.184 426.376 89.672C428.968 85.16 430.263 79.736 430.263 73.4C430.263 67.064 429.016 61.688 426.52 57.272C424.024 52.76 420.76 49.4 416.728 47.192C412.696 44.984 408.328 43.88 403.624 43.88C398.824 43.88 394.407 44.984 390.375 47.192C386.439 49.4 383.271 52.76 380.871 57.272C378.471 61.688 377.272 67.064 377.272 73.4C377.272 79.832 378.424 85.304 380.728 89.816C383.128 94.232 386.296 97.592 390.232 99.896C394.168 102.104 398.487 103.208 403.191 103.208Z"
        stroke="#FEFEFE" stroke-width="12" mask="url(#path-1-outside-1)" />
      <path
        d="M555.781 32.648C561.925 32.648 567.397 33.944 572.197 36.536C576.997 39.032 580.789 42.824 583.573 47.912C586.357 53 587.749 59.192 587.749 66.488V113H574.789V68.36C574.789 60.488 572.821 54.488 568.885 50.36C565.045 46.136 559.813 44.024 553.189 44.024C546.373 44.024 540.949 46.232 536.917 50.648C532.885 54.968 530.869 61.256 530.869 69.512V113H517.909V68.36C517.909 60.488 515.941 54.488 512.005 50.36C508.165 46.136 502.933 44.024 496.309 44.024C489.493 44.024 484.069 46.232 480.037 50.648C476.005 54.968 473.989 61.256 473.989 69.512V113H460.885V34.088H473.989V45.464C476.581 41.336 480.037 38.168 484.357 35.96C488.773 33.752 493.621 32.648 498.901 32.648C505.525 32.648 511.381 34.136 516.469 37.112C521.557 40.088 525.349 44.456 527.845 50.216C530.053 44.648 533.701 40.328 538.789 37.256C543.877 34.184 549.541 32.648 555.781 32.648Z"
        stroke="#FEFEFE" stroke-width="12" mask="url(#path-1-outside-1)" />
      <path
        d="M681.244 70.232C681.244 72.632 681.1 75.224 680.812 78.008H617.74C618.124 85.784 620.716 91.928 625.516 96.44C630.412 100.952 636.364 103.208 643.372 103.208C649.036 103.208 653.74 101.912 657.484 99.32C661.324 96.632 664.012 93.08 665.548 88.664H679.66C677.548 96.248 673.324 102.44 666.988 107.24C660.652 111.944 652.78 114.296 643.372 114.296C635.884 114.296 629.164 112.616 623.212 109.256C617.356 105.896 612.748 101.144 609.388 95C606.028 88.76 604.348 81.56 604.348 73.4C604.348 65.24 605.98 58.088 609.244 51.944C612.508 45.8 617.068 41.096 622.924 37.832C628.876 34.472 635.692 32.792 643.372 32.792C650.86 32.792 657.436 34.424 663.1 37.688C668.86 40.952 673.324 45.416 676.492 51.08C679.66 56.744 681.244 63.128 681.244 70.232ZM667.708 68.504C667.708 63.32 666.604 58.904 664.396 55.256C662.188 51.512 659.164 48.68 655.324 46.76C651.58 44.84 647.404 43.88 642.796 43.88C636.076 43.88 630.364 46.088 625.66 50.504C620.956 54.824 618.364 60.824 617.884 68.504H667.708Z"
        stroke="#FEFEFE" stroke-width="12" mask="url(#path-1-outside-1)" />
      <path d="M712.077 94.856L695.949 133.592H687.165L697.677 94.856H712.077Z" stroke="#FEFEFE" stroke-width="12"
        mask="url(#path-1-outside-1)" />
      <path d="M783.083 12.632V113H769.979V12.632H783.083Z" stroke="#FEFEFE" stroke-width="12"
        mask="url(#path-1-outside-1)" />
      <path d="M807.432 12.632H821.976L808.152 45.32H798.936L807.432 12.632Z" stroke="#FEFEFE" stroke-width="12"
        mask="url(#path-1-outside-1)" />
      <path
        d="M931.812 32.648C937.956 32.648 943.428 33.944 948.228 36.536C953.028 39.032 956.82 42.824 959.604 47.912C962.388 53 963.78 59.192 963.78 66.488V113H950.82V68.36C950.82 60.488 948.852 54.488 944.916 50.36C941.076 46.136 935.844 44.024 929.22 44.024C922.404 44.024 916.98 46.232 912.948 50.648C908.916 54.968 906.9 61.256 906.9 69.512V113H893.94V68.36C893.94 60.488 891.972 54.488 888.036 50.36C884.196 46.136 878.964 44.024 872.34 44.024C865.524 44.024 860.1 46.232 856.068 50.648C852.036 54.968 850.02 61.256 850.02 69.512V113H836.916V34.088H850.02V45.464C852.612 41.336 856.068 38.168 860.388 35.96C864.804 33.752 869.652 32.648 874.932 32.648C881.556 32.648 887.412 34.136 892.5 37.112C897.588 40.088 901.38 44.456 903.876 50.216C906.084 44.648 909.732 40.328 914.82 37.256C919.908 34.184 925.572 32.648 931.812 32.648Z"
        stroke="#FEFEFE" stroke-width="12" mask="url(#path-1-outside-1)" />
      <path d="M29.192 238.856V273.272H65.768V283.352H29.192V318.632H70.088V329H16.088V228.488H70.088V238.856H29.192Z"
        stroke="#FEFEFE" stroke-width="12" mask="url(#path-1-outside-1)" />
      <path
        d="M103.02 265.064C105.324 259.88 108.588 255.848 112.812 252.968C117.132 250.088 122.364 248.648 128.508 248.648V262.184H125.052C110.364 262.184 103.02 270.152 103.02 286.088V329H89.9161V250.088H103.02V265.064Z"
        stroke="#FEFEFE" stroke-width="12" mask="url(#path-1-outside-1)" />
      <path
        d="M150.403 237.272C147.907 237.272 145.795 236.408 144.067 234.68C142.339 232.952 141.475 230.84 141.475 228.344C141.475 225.848 142.339 223.736 144.067 222.008C145.795 220.28 147.907 219.416 150.403 219.416C152.803 219.416 154.819 220.28 156.451 222.008C158.179 223.736 159.043 225.848 159.043 228.344C159.043 230.84 158.179 232.952 156.451 234.68C154.819 236.408 152.803 237.272 150.403 237.272ZM156.739 250.088V329H143.635V250.088H156.739Z"
        stroke="#FEFEFE" stroke-width="12" mask="url(#path-1-outside-1)" />
      <path
        d="M174.176 289.4C174.176 281.24 175.808 274.136 179.072 268.088C182.336 261.944 186.848 257.192 192.608 253.832C198.464 250.472 205.136 248.792 212.624 248.792C222.32 248.792 230.288 251.144 236.528 255.848C242.864 260.552 247.04 267.08 249.056 275.432H234.944C233.6 270.632 230.96 266.84 227.024 264.056C223.184 261.272 218.384 259.88 212.624 259.88C205.136 259.88 199.088 262.472 194.48 267.656C189.872 272.744 187.568 279.992 187.568 289.4C187.568 298.904 189.872 306.248 194.48 311.432C199.088 316.616 205.136 319.208 212.624 319.208C218.384 319.208 223.184 317.864 227.024 315.176C230.864 312.488 233.504 308.648 234.944 303.656H249.056C246.944 311.72 242.72 318.2 236.384 323.096C230.048 327.896 222.128 330.296 212.624 330.296C205.136 330.296 198.464 328.616 192.608 325.256C186.848 321.896 182.336 317.144 179.072 311C175.808 304.856 174.176 297.656 174.176 289.4Z"
        stroke="#FEFEFE" stroke-width="12" mask="url(#path-1-outside-1)" />
      <path
        d="M304.536 289.256C304.536 281.192 306.168 274.136 309.432 268.088C312.696 261.944 317.16 257.192 322.824 253.832C328.584 250.472 334.968 248.792 341.976 248.792C348.888 248.792 354.888 250.28 359.976 253.256C365.064 256.232 368.856 259.976 371.352 264.488V250.088H384.6V329H371.352V314.312C368.76 318.92 364.872 322.76 359.688 325.832C354.6 328.808 348.648 330.296 341.832 330.296C334.824 330.296 328.488 328.568 322.824 325.112C317.16 321.656 312.696 316.808 309.432 310.568C306.168 304.328 304.536 297.224 304.536 289.256ZM371.352 289.4C371.352 283.448 370.152 278.264 367.752 273.848C365.352 269.432 362.088 266.072 357.96 263.768C353.928 261.368 349.464 260.168 344.568 260.168C339.672 260.168 335.208 261.32 331.176 263.624C327.144 265.928 323.928 269.288 321.528 273.704C319.128 278.12 317.928 283.304 317.928 289.256C317.928 295.304 319.128 300.584 321.528 305.096C323.928 309.512 327.144 312.92 331.176 315.32C335.208 317.624 339.672 318.776 344.568 318.776C349.464 318.776 353.928 317.624 357.96 315.32C362.088 312.92 365.352 309.512 367.752 305.096C370.152 300.584 371.352 295.352 371.352 289.4Z"
        stroke="#FEFEFE" stroke-width="12" mask="url(#path-1-outside-1)" />
      <path d="M549.261 228.632V238.856H505.63V273.272H541.054V283.496H505.63V329H492.526V228.632H549.261Z"
        stroke="#FEFEFE" stroke-width="12" mask="url(#path-1-outside-1)" />
      <path
        d="M635.072 250.088V329H621.968V317.336C619.472 321.368 615.968 324.536 611.456 326.84C607.04 329.048 602.144 330.152 596.768 330.152C590.624 330.152 585.104 328.904 580.208 326.408C575.312 323.816 571.424 319.976 568.544 314.888C565.76 309.8 564.368 303.608 564.368 296.312V250.088H577.328V294.584C577.328 302.36 579.296 308.36 583.232 312.584C587.168 316.712 592.544 318.776 599.36 318.776C606.368 318.776 611.888 316.616 615.92 312.296C619.952 307.976 621.968 301.688 621.968 293.432V250.088H635.072Z"
        stroke="#FEFEFE" stroke-width="12" mask="url(#path-1-outside-1)" />
      <path d="M670.301 222.44V329H657.197V222.44H670.301Z" stroke="#FEFEFE" stroke-width="12"
        mask="url(#path-1-outside-1)" />
      <path d="M705.739 222.44V329H692.635V222.44H705.739Z" stroke="#FEFEFE" stroke-width="12"
        mask="url(#path-1-outside-1)" />
      <path
        d="M759.896 330.008C753.272 330.008 747.32 328.856 742.04 326.552C736.856 324.152 732.776 320.888 729.8 316.76C726.824 312.536 725.288 307.688 725.192 302.216H739.16C739.64 307.016 741.608 311.096 745.064 314.456C748.52 317.72 753.464 319.352 759.896 319.352C766.04 319.352 770.936 317.768 774.584 314.6C778.232 311.336 780.056 307.208 780.056 302.216C780.056 298.376 779 295.256 776.888 292.856C774.776 290.456 772.136 288.632 768.968 287.384C765.8 286.136 761.528 284.792 756.152 283.352C749.528 281.624 744.2 279.896 740.168 278.168C736.232 276.44 732.824 273.752 729.944 270.104C727.16 266.36 725.768 261.368 725.768 255.128C725.768 249.656 727.16 244.808 729.944 240.584C732.728 236.36 736.616 233.096 741.608 230.792C746.696 228.488 752.504 227.336 759.032 227.336C768.44 227.336 776.12 229.688 782.072 234.392C788.12 239.096 791.528 245.336 792.296 253.112H777.896C777.416 248.984 775.4 245.48 771.848 242.6C768.392 239.624 763.688 238.136 757.736 238.136C752.264 238.136 747.8 239.576 744.344 242.456C740.888 245.336 739.16 249.416 739.16 254.696C739.16 258.344 740.168 261.32 742.184 263.624C744.296 265.928 746.84 267.704 749.816 268.952C752.888 270.104 757.16 271.448 762.632 272.984C769.256 274.808 774.584 276.632 778.616 278.456C782.648 280.184 786.104 282.92 788.984 286.664C791.864 290.312 793.304 295.304 793.304 301.64C793.304 306.536 792.008 311.144 789.416 315.464C786.824 319.784 782.984 323.288 777.896 325.976C772.808 328.664 766.808 330.008 759.896 330.008Z"
        stroke="#FEFEFE" stroke-width="12" mask="url(#path-1-outside-1)" />
      <path
        d="M828.572 260.888V307.4C828.572 311.24 829.388 313.976 831.02 315.608C832.652 317.144 835.484 317.912 839.516 317.912H849.164V329H837.356C830.06 329 824.588 327.32 820.94 323.96C817.292 320.6 815.468 315.08 815.468 307.4V260.888H805.244V250.088H815.468V230.216H828.572V250.088H849.164V260.888H828.572Z"
        stroke="#FEFEFE" stroke-width="12" mask="url(#path-1-outside-1)" />
      <path
        d="M860.145 289.256C860.145 281.192 861.777 274.136 865.041 268.088C868.305 261.944 872.769 257.192 878.433 253.832C884.193 250.472 890.577 248.792 897.585 248.792C904.497 248.792 910.497 250.28 915.585 253.256C920.673 256.232 924.465 259.976 926.961 264.488V250.088H940.209V329H926.961V314.312C924.369 318.92 920.481 322.76 915.297 325.832C910.209 328.808 904.257 330.296 897.441 330.296C890.433 330.296 884.097 328.568 878.433 325.112C872.769 321.656 868.305 316.808 865.041 310.568C861.777 304.328 860.145 297.224 860.145 289.256ZM926.961 289.4C926.961 283.448 925.761 278.264 923.361 273.848C920.961 269.432 917.697 266.072 913.569 263.768C909.537 261.368 905.073 260.168 900.177 260.168C895.281 260.168 890.817 261.32 886.785 263.624C882.753 265.928 879.537 269.288 877.137 273.704C874.737 278.12 873.537 283.304 873.537 289.256C873.537 295.304 874.737 300.584 877.137 305.096C879.537 309.512 882.753 312.92 886.785 315.32C890.817 317.624 895.281 318.776 900.177 318.776C905.073 318.776 909.537 317.624 913.569 315.32C917.697 312.92 920.961 309.512 923.361 305.096C925.761 300.584 926.961 295.352 926.961 289.4Z"
        stroke="#FEFEFE" stroke-width="12" mask="url(#path-1-outside-1)" />
      <path
        d="M957.458 289.4C957.458 281.24 959.09 274.136 962.354 268.088C965.618 261.944 970.13 257.192 975.89 253.832C981.746 250.472 988.418 248.792 995.906 248.792C1005.6 248.792 1013.57 251.144 1019.81 255.848C1026.15 260.552 1030.32 267.08 1032.34 275.432H1018.23C1016.88 270.632 1014.24 266.84 1010.31 264.056C1006.47 261.272 1001.67 259.88 995.906 259.88C988.418 259.88 982.37 262.472 977.762 267.656C973.154 272.744 970.85 279.992 970.85 289.4C970.85 298.904 973.154 306.248 977.762 311.432C982.37 316.616 988.418 319.208 995.906 319.208C1001.67 319.208 1006.47 317.864 1010.31 315.176C1014.15 312.488 1016.79 308.648 1018.23 303.656H1032.34C1030.23 311.72 1026 318.2 1019.67 323.096C1013.33 327.896 1005.41 330.296 995.906 330.296C988.418 330.296 981.746 328.616 975.89 325.256C970.13 321.896 965.618 317.144 962.354 311C959.09 304.856 957.458 297.656 957.458 289.4Z"
        stroke="#FEFEFE" stroke-width="12" mask="url(#path-1-outside-1)" />
      <path
        d="M1093.89 329L1062.93 294.152V329H1049.82V222.44H1062.93V285.08L1093.31 250.088H1111.6L1074.45 289.4L1111.74 329H1093.89Z"
        stroke="#FEFEFE" stroke-width="12" mask="url(#path-1-outside-1)" />
      <path
        d="M142.232 444.632L113.144 545H98.456L75.128 464.216L51.08 545L36.392 545.144L8.31201 444.632H22.28L44.168 529.592L68.36 444.632H83.192L106.088 529.448L128.12 444.632H142.232Z"
        stroke="#FEFEFE" stroke-width="12" mask="url(#path-1-outside-1)" />
      <path
        d="M228.572 502.232C228.572 504.632 228.428 507.224 228.14 510.008H165.068C165.452 517.784 168.044 523.928 172.844 528.44C177.74 532.952 183.692 535.208 190.7 535.208C196.364 535.208 201.068 533.912 204.812 531.32C208.652 528.632 211.34 525.08 212.876 520.664H226.988C224.876 528.248 220.652 534.44 214.316 539.24C207.98 543.944 200.108 546.296 190.7 546.296C183.212 546.296 176.492 544.616 170.54 541.256C164.684 537.896 160.076 533.144 156.716 527C153.356 520.76 151.676 513.56 151.676 505.4C151.676 497.24 153.308 490.088 156.572 483.944C159.836 477.8 164.396 473.096 170.252 469.832C176.204 466.472 183.02 464.792 190.7 464.792C198.188 464.792 204.764 466.424 210.428 469.688C216.188 472.952 220.652 477.416 223.82 483.08C226.988 488.744 228.572 495.128 228.572 502.232ZM215.036 500.504C215.036 495.32 213.932 490.904 211.724 487.256C209.516 483.512 206.492 480.68 202.652 478.76C198.908 476.84 194.732 475.88 190.124 475.88C183.404 475.88 177.692 478.088 172.988 482.504C168.284 486.824 165.692 492.824 165.212 500.504H215.036Z"
        stroke="#FEFEFE" stroke-width="12" mask="url(#path-1-outside-1)" />
      <path
        d="M258.973 480.776C261.661 476.072 265.597 472.232 270.781 469.256C275.965 466.28 281.869 464.792 288.493 464.792C295.597 464.792 301.981 466.472 307.645 469.832C313.309 473.192 317.773 477.944 321.037 484.088C324.301 490.136 325.933 497.192 325.933 505.256C325.933 513.224 324.301 520.328 321.037 526.568C317.773 532.808 313.261 537.656 307.501 541.112C301.837 544.568 295.501 546.296 288.493 546.296C281.677 546.296 275.677 544.808 270.493 541.832C265.405 538.856 261.565 535.064 258.973 530.456V545H245.869V438.44H258.973V480.776ZM312.541 505.256C312.541 499.304 311.341 494.12 308.941 489.704C306.541 485.288 303.277 481.928 299.149 479.624C295.117 477.32 290.653 476.168 285.757 476.168C280.957 476.168 276.493 477.368 272.365 479.768C268.333 482.072 265.069 485.48 262.573 489.992C260.173 494.408 258.973 499.544 258.973 505.4C258.973 511.352 260.173 516.584 262.573 521.096C265.069 525.512 268.333 528.92 272.365 531.32C276.493 533.624 280.957 534.776 285.757 534.776C290.653 534.776 295.117 533.624 299.149 531.32C303.277 528.92 306.541 525.512 308.941 521.096C311.341 516.584 312.541 511.304 312.541 505.256Z"
        stroke="#FEFEFE" stroke-width="12" mask="url(#path-1-outside-1)" />
      <path
        d="M417.32 444.632C428.264 444.632 437.72 446.696 445.688 450.824C453.752 454.856 459.896 460.664 464.12 468.248C468.44 475.832 470.6 484.76 470.6 495.032C470.6 505.304 468.44 514.232 464.12 521.816C459.896 529.304 453.752 535.064 445.688 539.096C437.72 543.032 428.264 545 417.32 545H386.072V444.632H417.32ZM417.32 534.92C430.184 534.92 440.024 531.416 446.84 524.408C453.752 517.304 457.208 507.512 457.208 495.032C457.208 482.552 453.752 472.808 446.84 465.8C440.024 458.792 430.184 455.288 417.32 455.288H399.176V534.92H417.32Z"
        stroke="#FEFEFE" stroke-width="12" mask="url(#path-1-outside-1)" />
      <path
        d="M559.885 502.232C559.885 504.632 559.741 507.224 559.453 510.008H496.381C496.765 517.784 499.357 523.928 504.157 528.44C509.053 532.952 515.005 535.208 522.013 535.208C527.677 535.208 532.381 533.912 536.125 531.32C539.965 528.632 542.653 525.08 544.189 520.664H558.301C556.189 528.248 551.965 534.44 545.629 539.24C539.293 543.944 531.421 546.296 522.013 546.296C514.525 546.296 507.805 544.616 501.853 541.256C495.997 537.896 491.389 533.144 488.029 527C484.669 520.76 482.989 513.56 482.989 505.4C482.989 497.24 484.621 490.088 487.885 483.944C491.149 477.8 495.709 473.096 501.565 469.832C507.517 466.472 514.333 464.792 522.013 464.792C529.501 464.792 536.077 466.424 541.741 469.688C547.501 472.952 551.965 477.416 555.133 483.08C558.301 488.744 559.885 495.128 559.885 502.232ZM546.349 500.504C546.349 495.32 545.245 490.904 543.037 487.256C540.829 483.512 537.805 480.68 533.965 478.76C530.221 476.84 526.045 475.88 521.437 475.88C514.717 475.88 509.005 478.088 504.301 482.504C499.597 486.824 497.005 492.824 496.525 500.504H546.349Z"
        stroke="#FEFEFE" stroke-width="12" mask="url(#path-1-outside-1)" />
      <path d="M606.558 532.616L631.038 466.088H645.15L614.19 545H598.782L567.822 466.088H581.934L606.558 532.616Z"
        stroke="#FEFEFE" stroke-width="12" mask="url(#path-1-outside-1)" />
      <path
        d="M729.901 502.232C729.901 504.632 729.757 507.224 729.469 510.008H666.396C666.78 517.784 669.372 523.928 674.172 528.44C679.068 532.952 685.021 535.208 692.029 535.208C697.693 535.208 702.397 533.912 706.141 531.32C709.981 528.632 712.669 525.08 714.205 520.664H728.317C726.205 528.248 721.981 534.44 715.645 539.24C709.309 543.944 701.437 546.296 692.029 546.296C684.541 546.296 677.821 544.616 671.869 541.256C666.013 537.896 661.404 533.144 658.044 527C654.684 520.76 653.005 513.56 653.005 505.4C653.005 497.24 654.637 490.088 657.901 483.944C661.165 477.8 665.725 473.096 671.581 469.832C677.533 466.472 684.349 464.792 692.029 464.792C699.517 464.792 706.093 466.424 711.757 469.688C717.517 472.952 721.98 477.416 725.148 483.08C728.316 488.744 729.901 495.128 729.901 502.232ZM716.365 500.504C716.365 495.32 715.26 490.904 713.052 487.256C710.844 483.512 707.821 480.68 703.981 478.76C700.237 476.84 696.061 475.88 691.453 475.88C684.733 475.88 679.021 478.088 674.317 482.504C669.613 486.824 667.021 492.824 666.541 500.504H716.365Z"
        stroke="#FEFEFE" stroke-width="12" mask="url(#path-1-outside-1)" />
      <path d="M760.301 438.44V545H747.197V438.44H760.301Z" stroke="#FEFEFE" stroke-width="12"
        mask="url(#path-1-outside-1)" />
      <path
        d="M817.051 546.296C809.659 546.296 802.939 544.616 796.891 541.256C790.939 537.896 786.235 533.144 782.779 527C779.419 520.76 777.739 513.56 777.739 505.4C777.739 497.336 779.467 490.232 782.923 484.088C786.475 477.848 791.275 473.096 797.323 469.832C803.371 466.472 810.139 464.792 817.627 464.792C825.115 464.792 831.883 466.472 837.931 469.832C843.979 473.096 848.731 477.8 852.187 483.944C855.739 490.088 857.515 497.24 857.515 505.4C857.515 513.56 855.691 520.76 852.043 527C848.491 533.144 843.643 537.896 837.499 541.256C831.355 544.616 824.539 546.296 817.051 546.296ZM817.051 535.208C821.755 535.208 826.171 534.104 830.299 531.896C834.427 529.592 837.739 526.184 840.235 521.672C842.827 517.16 844.123 511.736 844.123 505.4C844.123 499.064 842.875 493.688 840.379 489.272C837.883 484.76 834.619 481.4 830.587 479.192C826.555 476.984 822.187 475.88 817.483 475.88C812.683 475.88 808.267 476.984 804.235 479.192C800.299 481.4 797.131 484.76 794.731 489.272C792.331 493.688 791.131 499.064 791.131 505.4C791.131 511.832 792.283 517.304 794.587 521.816C796.987 526.232 800.155 529.592 804.091 531.896C808.027 534.104 812.347 535.208 817.051 535.208Z"
        stroke="#FEFEFE" stroke-width="12" mask="url(#path-1-outside-1)" />
      <path
        d="M887.848 480.632C890.44 476.12 894.28 472.376 899.368 469.4C904.552 466.328 910.552 464.792 917.368 464.792C924.376 464.792 930.712 466.472 936.376 469.832C942.136 473.192 946.648 477.944 949.912 484.088C953.176 490.136 954.808 497.192 954.808 505.256C954.808 513.224 953.176 520.328 949.912 526.568C946.648 532.808 942.136 537.656 936.376 541.112C930.712 544.568 924.376 546.296 917.368 546.296C910.648 546.296 904.696 544.808 899.512 541.832C894.424 538.76 890.536 534.968 887.848 530.456V582.44H874.744V466.088H887.848V480.632ZM941.416 505.256C941.416 499.304 940.216 494.12 937.816 489.704C935.416 485.288 932.152 481.928 928.024 479.624C923.992 477.32 919.528 476.168 914.632 476.168C909.832 476.168 905.368 477.368 901.24 479.768C897.208 482.072 893.944 485.48 891.448 489.992C889.048 494.408 887.848 499.544 887.848 505.4C887.848 511.352 889.048 516.584 891.448 521.096C893.944 525.512 897.208 528.92 901.24 531.32C905.368 533.624 909.832 534.776 914.632 534.776C919.528 534.776 923.992 533.624 928.024 531.32C932.152 528.92 935.416 525.512 937.816 521.096C940.216 516.584 941.416 511.304 941.416 505.256Z"
        stroke="#FEFEFE" stroke-width="12" mask="url(#path-1-outside-1)" />
      <path
        d="M1044.06 502.232C1044.06 504.632 1043.91 507.224 1043.62 510.008H980.553C980.937 517.784 983.529 523.928 988.329 528.44C993.225 532.952 999.177 535.208 1006.18 535.208C1011.85 535.208 1016.55 533.912 1020.3 531.32C1024.14 528.632 1026.82 525.08 1028.36 520.664H1042.47C1040.36 528.248 1036.14 534.44 1029.8 539.24C1023.46 543.944 1015.59 546.296 1006.18 546.296C998.697 546.296 991.977 544.616 986.025 541.256C980.169 537.896 975.561 533.144 972.201 527C968.841 520.76 967.161 513.56 967.161 505.4C967.161 497.24 968.793 490.088 972.057 483.944C975.321 477.8 979.881 473.096 985.737 469.832C991.689 466.472 998.505 464.792 1006.18 464.792C1013.67 464.792 1020.25 466.424 1025.91 469.688C1031.67 472.952 1036.14 477.416 1039.3 483.08C1042.47 488.744 1044.06 495.128 1044.06 502.232ZM1030.52 500.504C1030.52 495.32 1029.42 490.904 1027.21 487.256C1025 483.512 1021.98 480.68 1018.14 478.76C1014.39 476.84 1010.22 475.88 1005.61 475.88C998.889 475.88 993.177 478.088 988.473 482.504C983.769 486.824 981.177 492.824 980.697 500.504H1030.52Z"
        stroke="#FEFEFE" stroke-width="12" mask="url(#path-1-outside-1)" />
      <path
        d="M1074.46 481.064C1076.76 475.88 1080.03 471.848 1084.25 468.968C1088.57 466.088 1093.8 464.648 1099.95 464.648V478.184H1096.49C1081.8 478.184 1074.46 486.152 1074.46 502.088V545H1061.35V466.088H1074.46V481.064Z"
        stroke="#FEFEFE" stroke-width="12" mask="url(#path-1-outside-1)" />
      <path
        d="M1119.25 545.864C1116.75 545.864 1114.64 545 1112.91 543.272C1111.18 541.544 1110.32 539.432 1110.32 536.936C1110.32 534.44 1111.18 532.328 1112.91 530.6C1114.64 528.872 1116.75 528.008 1119.25 528.008C1121.65 528.008 1123.66 528.872 1125.3 530.6C1127.02 532.328 1127.89 534.44 1127.89 536.936C1127.89 539.432 1127.02 541.544 1125.3 543.272C1123.66 545 1121.65 545.864 1119.25 545.864Z"
        stroke="#FEFEFE" stroke-width="12" mask="url(#path-1-outside-1)" />
    </svg>



    <!--Section: Contact v.2-->
    <section class="mb-4">
      <div class="contact-wrapper">
        <!--Section heading-->
        <h2 class="h1-responsive font-weight-bold text-center my-4">Contact me</h2>

        <div class="row">

          <!--Grid column-->
          <div class="col-md-9 mb-md-0 mb-5">
            <form id="contact-form" action="/" method="POST">

              <!--Grid row-->
              <div class="row">

                <!--Grid column-->
                <div class="col-md-6">
                  <div class="md-form mb-0">
                    <input type="text" id="name" name="name" class="form-control">
                    <label for="name" class="">Your name</label>
                  </div>
                </div>
                <!--Grid column-->

                <!--Grid column-->
                <div class="col-md-6">
                  <div class="md-form mb-0">
                    <input type="text" id="email" name="email" class="form-control">
                    <label for="email" class="">Your email</label>
                  </div>
                </div>
                <!--Grid column-->

              </div>
              <!--Grid row-->

              <!--Grid row-->
              <div class="row">
                <div class="col-md-12">
                  <div class="md-form mb-0">
                    <input type="text" id="subject" name="subject" class="form-control">
                    <label for="subject" class="">Subject</label>
                  </div>
                </div>
              </div>
              <!--Grid row-->

              <!--Grid row-->
              <div class="row">

                <!--Grid column-->
                <div class="col-md-12">

                  <div class="md-form">
                    <textarea type="text" id="message" name="message" rows="2"
                      class="form-control md-textarea"></textarea>
                    <label for="message">Your message</label>
                  </div>

                </div>
              </div>
              <!--Grid row-->

            </form>

            <div class="text-center text-md-left bttn">
              <a class="btn btn-primary" onclick="document.getElementById('contact-form').submit();">Send</a>
            </div>
            <div class="status"></div>
          </div>
          <!--Grid column-->


          <!--Grid column-->

        </div>

    </section>
    <!--Section: Contact v.2-->


    </div>




  </header>


  <section id="services">


    <div class="services-container ">


      <div class="services-title"> services

      </div>

      <article class="service-item services-item-black">
        <div class="front-text">
          <i class="fas fa-laptop"></i>
          <h1> web development</h1>
        </div>



        <div class="back-text">
          <p>1 year working with clients, building and designing their websites from scratch using HTML, CSS, Java
            script
            1 year working with clients, building and designing their websites from scratch using HTML, CSS, Java
            script
            1 year working with clients, building and designing their websites from scratch using HTML, CSS, Java
            script
            1 year working with clients, building and designing their websites from scratch using HTML, CSS, Java
            script
          </p>

          <button type="button">read more</button>
        </div>
      </article>

      <article class="service-item services-item-white">
        <div class="front-text">
          <i class="fas fa-paint-brush"></i>

          <h1> web design</h1>
        </div>



        <div class="back-text">
          <h1>web design</h1>
          <p>Designing websites creating templates, logos in Adobe photoshop </p>
          <button type="button">read more</button>
        </div>
      </article>





      <article class="service-item services-item-black">
        <div class="front-text">
          <i class="fas fa-mobile-alt"></i>


          <h1> Responsive design</h1>
        </div>



        <div class="back-text">
          <h1>Responsive design</h1>
          <p>Creating media queries to fit mobile and desktop screen sizes and resolutions.</p>
          <button type="button">read more</button>
        </div>
      </article>

      <article class="service-item services-item-white">
        <div class="front-text">
          <i class=" fas fa-archive"></i>
          <h1>SEO & PPC</h1>
        </div>



        <div class="back-text">
          <h1>SEO & PPC</h1>
          <p>Working with google analytics, google adwords to grow search engine results organically or paid </p>
          <button type="button">read more</button>
        </div>
      </article>


  </section>

  <section id="about">
    <div class="about-container">

      <article class="about-item about-item-black">
        <div class="front-text-a">

          <h1> About me </h1>
          <p> Welcome to my website. I'm a junior web developer, for the past couple years I have been freelancing,
            building and visually designing clients websites, using Adobe photoshop, HTML, CSS, and JavaScript/jQuery.
            I have worked on websites using Wordpress and building themes and plugins on Wordpress. Additionally, I'm
            extremely passionate about web development and design in all it's forms. My goal is to finish college and
            get my degree in Computor Science, being a partime student gave me chance to learn web devolpment and
            freelancing on building websites.</p>

          <ul class="about-list">
            <li>HTML</li>
            <li>CSS</li>
            <li>JavaScript/jQuery</li>
            <li>Adobe photoshop</li>
            <li>Wordpress</li>
          </ul>



        </div>


      </article>
    </div>
  </section>



  <div class="container-work">
    <!--everything on the page-->
    <div class="row-work">

    </div>
    <!--closing row 1-->

    <div class="row-work">
      <div class="hero-image">
        <h1> Projects</h1>
      </div>
    </div>
    <!--closing row 2-->


    <div class="row-work">
      <div class="row3">
        <div class="six">
          HELLOWORLD
        </div>
        <!--closing column 6-->

        <div class="three">
        </div>
        <!--closing column 3-->

        <div class="three">
        </div>
        <!--closing column 3-->
      </div>
    </div>
    <!--closing row 3-->


    <div class="row-work">
      <div class="row4">

        <div class="three">
        </div>
        <!--closing column 3-->

        <div class="six">
        </div>
        <!--closing column 6-->

        <div class="three">
        </div>
        <!--closing column 3-->
      </div>
    </div>
    <!--closing row 4-->

    <div class="row-work">
      <div class="row5">
        <div class="three">
        </div>
        <!--closing column 3-->

        <div class="three">
        </div>
        <!--closing column 3-->

        <div class="three">
        </div>
        <!--closing column 3-->

        <div class="three">
        </div>
        <!--closing column 3-->
      </div>
    </div>
    <!--closing row 5-->


    <div class="row-work">
      <div class="row6">
        <div class="six">
        </div>
        <!--closing column 6-->

        <div class="three">
        </div>
        <!--closing column 3-->

        <div class="three">
        </div>
        <!--closing column 3-->
      </div>
    </div>
    <!--closing row 6-->


    <div class="row-work">
      <footer>
        <div class="six">
        </div>
        <!--closing column 6-->

        <div class="three">
        </div>
        <!--closing column 3-->
      </footer>
    </div>
    <!--closing row 7-->


    <div class="row-work">
      <div class="last" style="color:aliceblue;">
        p
      </div>
    </div>
    <!--closing row 8-->



  </div>
  <!--closing container div-->
  <section id="resume">
    <div class="work-container">

      <article class="resume-item">
        <div class="front-text-r">

          <h1> Like What You See? </h1>
          <p> Check out my resume to learn more.</p>

          <div class="banner-btn-r">
            <button type="button">View Resume</button>

          </div>

        </div>


      </article>
    </div>
    </div>
  </section>



  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
  </script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
    integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous">
  </script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
    integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous">
  </script>




</body>

</html>